body {
  font-size: 12pt;
  font-family: Calibri;
  padding: 10px;
  position: relative;
  min-height: 100vh;
}
#container {
  padding-bottom: 2.5rem;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
table {
  border: 1px solid black;
}
th {
  border: 1px solid black;
  padding: 5px;
  background-color: grey;
  color: white;
}
td {
  border: 1px solid black;
  padding: 5px;
}
input {
  font-size: 12pt;
  font-family: Calibri;
}
